<nav>
    <div class="nav-container">
        <div class="logo">
            <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Siber Oba Logo">
            <span>Siber Oba</span>
        </div>
        <ul class="nav-links">
            <li><a href="/#home" class="nav-link{% if page.nav == 'home' %} active{% endif %}">Anasayfa</a></li>
            <li><a href="/#projects" class="nav-link{% if page.nav == 'projects' %} active{% endif %}">Projeler</a></li>
            <li><a href="/about#about" class="nav-link{% if page.nav == 'about' %} active{% endif %}">Hakkımızda</a></li>
        </ul>
        <button class="menu-toggle">☰</button>
    </div>
</nav>
